<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class='full-height' ng-app='chat_room_module'>
      <div class='col-xs-12 col-md-8 col-md-offset-2 full-height' ng-controller='chat_controller'>
        
        <div class='col-xs-12 col-md-3 full-height'>
          <div class='panel panel-success user_panel'>
            <div class='panel-heading'>Users | Online: {{users.length}}</div>
            <div class='panel-body'>
              <button class='btn btn-success user_button' ng-click='changeTarget("global")'>Global Chat</button>
              <div ng-repeat="user in users track by $index">
                <br />
                <button class='btn btn-warning user_button' ng-click='changeTarget(user)' ng-bind="user" ng-disabled="user === nickname"></button>
              </div>
            </div>
          </div>
        </div>

        <div class='col-xs-12 col-md-9 full-height'>
          <div class='panel panel-info message_panel'>
            <div class="panel-heading">Messages | Talk To: {{sendTo}}</div>
            <div id='messages' class="panel-body" scroll-glue>
              <li ng-repeat='msg in messages track by $index'>
                <p ng-bind='msg'></p>
              </li>
              <form id='message_form'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class="input-group-addon" ng-bind='nickname + ": "'></div>
                    <input type="text" class='form-control' ng-model='message' placeholder='Input your message...'>
                    <span class='input-group-btn'>
                      <button class='btn btn-primary' ng-click="send(message)">Send</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
  <script type="text/javascript" src='/bower_components/jquery/dist/jquery.min.js'></script>
  <script type='text/javascript' src='/socket.io/socket.io.js'></script>
  <script type="text/javascript" src='/bower_components/angular/angular.js'></script>
  <script type="text/javascript" src='/bower_components/angular-scroll-glue/src/scrollglue.js'></script>
  <script type="text/javascript" src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
  <script type="text/javascript" src='/javascripts/chat_room_module.js'></script>
  <script type="text/javascript" src='/javascripts/chat_controller.js'></script>
</html>
