* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body,
.chat_app,
.message_box,
.user_box {
  height: 100%;
}

body {
  font: 13px Helvetica, Arial;
}

.message_panel, .user_panel {
  top: 10%;
  height: 60%;
  padding-bottom: 0;
  position: relative;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 85%;
  overflow: auto;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#message_form {
  position: absolute;
  float: bottom;
  padding: 0;
  bottom: 0;
}

#message_form div {
  top: 15px;
}

.user_button {
  width: 100%;
}
